<div class="bc-footer" >
    <div class="bc-footer-bottom">
      <div class="bc-footer-bottom-left">
        <div class="bc-footer-bottom-left-side">
          <div class="bc-footer-bottom-top-icon">
            <img
              alt="logo bancolombia horizontal"
              class="bc-icon"
              src="https://library-sdb.apps.bancolombia.com/bds/7.0.5/assets/icons/logos/bancolombia-horizontal-no-spacing.svg" />
          </div>
          <div class="bc-footer-bottom-left-side-vigilant">
            <img
              alt="Vigilado Superintendencia Financiera de Colombia"
              class="bc-icon bc-xs"
              src="https://library-sdb.apps.bancolombia.com/bds/7.0.5/assets/icons/logos/logo-vigilado.svg" />
          </div>
        </div>
      </div>
      <div class="bc-footer-bottom-right">
        <div class="bc-footer-bottom-right-text">
          <p>Banca en movimiento</p>
          <p>Pricing</p>
        </div>
      </div>
    </div>
  </div>
  