<bc-header [menuInteraction]="true" headerType="bc-header-wrapper-black" [fixed]="false">
  <bc-header-left logoName="bancolombia-horizontal" channelName="PRICING TI"></bc-header-left>
  <section>
    <ul class="bc-header-nav">
      <li class="bc-pointer bc-header-nav-item header__notifications bc-pl-0">
      </li>
      <li headerType="bc-header-wrapper-black"></li>
      <li class="bc-header-nav-item header__profile">
        <p class="bc-opensans-font-style-2-regular">
          BINTEC
        </p>
      </li>
    </ul>
  </section>
</bc-header>
