<div class=" bc-flex bc-direction-column bc-align-items-center"><img
  class="bc-illustration" width="450px"
  src="https://library-sdb.apps.bancolombia.com/assets/1.2.0/illustrations/il-accept-terms.svg" />

 
  <h1 class=" bc-px-5 bc-flex bc-direction-column bc-align-items-center bc-text-center bc-cibsans-font-style-5-regular bc-mt-2 bc-text-center">Simplifica el cumplimiento de la norma ICA con nuestra solución automatizada. Ahorra tiempo, garantiza precisión y mantén tu negocio al día con las normativas, de manera rápida y eficiente.</h1>
  <div class="bc-mt-3">
    <button  bc-button width="hug" [routerLink]="'/upload'">
      <span>¡Sube tus archivos ahora!</span>
    </button>
  </div>
  
  
</div>