<div class="bc-mt-5 bc-flex bc-justify-content-center bc-align-items-center bc-direction-column">
  <h5 class="bc-cibsans-font-style-5-extralight ">Sube tu archivo aquí</h5>

    <bc-input-file
      [dropArea]=true
      [maxSize]="5120000"
      (getFilesAdded)='loadFiles($event)'
      (changeStateMaxFiles)='listenerMaxFiles($event)'
      [multipleFiles]=false
      [validType]='["rar", "zip", "7z"]'
      [maxFiles]="1"
      [buttonLabel]="'Seleccionar archivo'"
      componentId="InputConDropArea">
    </bc-input-file>
  </div>


