<h1 class="bc-text-center bc-cibsans-font-style-7-bold bc-mt-4">Normas municipales y RIT</h1>

<div class="bc-w-50 bc-m-auto bc-mt-5" [formGroup]="form">
  <bc-input-select componentId="bc-select2" formatType="simple" [values]="values" label="Selecciona un municipio"
    (valueOutput)="showSelectedValue($event)" formControlName="municipio">
  </bc-input-select>

  <div class="bc-mt-5 bc-w-50 bc-m-auto" *ngIf="form.value.municipio">
    <bc-stepper #stepper1 [steps]="stepsArray" [direction]="'horizontal'" [indexPosition]="indexPosition" >
    </bc-stepper>
  </div>

</div>
