<h1 class="bc-text-center bc-cibsans-font-style-7-bold bc-mt-4">Normas municipales y RIT</h1>

<div class="bc-w-50 bc-m-auto bc-mt-5" [formGroup]="form">
  <bc-input-select componentId="bc-select2" formatType="simple" [values]="values" label="Selecciona un municipio"
   onchange="" (valueOutput)="showSelectedValue($event)" formControlName="municipio">
  </bc-input-select>

  <div class="bc-mt-5  bc-m-auto" *ngIf="form.value.municipio">
    <div class="bc-table-container" id="myTable">
      <div class="bc-table-header-top">
        <h6 class="bc-table-header-top-title">Documentos</h6>
        <div class="bc-table-header-top-right-container">
          <div class="bc-table-actions-container">
            <div class="bc-table-paginator-container">
              <nav class="bc-paginator" role="navigation" aria-label="paginador"
                   (click)="onPageChange(currentPage)" [attr.totalregisters]="300" [attr.perpage]="5">
              </nav>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="showtable" class="bc-table-content">
        <table class="bc-table">
          <thead>
            <tr>
              <th>Documento</th>
              <th>Fecha Cargue</th>
              <th>Sin procesar</th>
              <th>Extracción</th>
              <th>Conversión</th>
              <th>Finalizado</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let document of documents">
              <td>{{ document.name }}</td>
              <td>{{ document.date }}</td>
              <td colspan="4">
                <div style="height: 25px;"></div>
                <bc-stepper style="margin-top: 20px;" [steps]="stepsArray" [direction]="'horizontal'" [indexPosition] = "indexPosition"></bc-stepper>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="bc-table-footer">
        <div class="bc-table-footer-container">
          <nav class="bc-paginator" role="navigation" aria-label="paginador"
               (click)="onPageChange(currentPage)" [attr.totalregisters]="300" [attr.perpage]="5">
          </nav>
        </div>
      </div>
    </div>
  </div>
  

</div>
