@import "https://library-sdb.apps.bancolombia.com/bds/6.60.2/bds.min.css";

body {
  background-color: #F2F2F4;
}

.bc-vh-80 {
  height: 80vh;
}

.bc-menu-global-container.bc-menu-with-header {
  margin-top: 0px;
}

.bc-submenu-footer-container {
  display: none;
}
